<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>

  <body>
    <div id=input>
      <div id=signin>
        Login: <input type=text id=username>
        Password: <input type=password id=password>
        <input id=submit type=button value=login>
      </div>
      <div id=post style="display:none">
        Tweet: <input type=text id=postTweet>
        <input id=submitTweet type=button value=Tweet>
      </div>
    <div>
    <div id=tweets style="display:none">
      Tweets:
      <div id=newTweets></div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script type=text/javascript>
      var socket = io.connect('http://localhost', {port: 8888});

      function login()
      {
        "use strict";
        socket.emit('connect', {username: $("#username").val(), password: $("#password").val()});
      }

      function updateStatus()
      {
        socket.emit('postTweet', {tweet: $("#postTweet").val()});
      }

      socket.on('success', function() {
        $("#tweets").show();
        $("#signin").hide();
        $("#post").show();

        socket.on('tweet', function(data) {
          $("#newTweets").prepend('<br>');
          $("#newTweets").prepend(data);
        });
      });

      $("#submit").click(login);
      $("#submitTweet").click(updateStatus);
    </script>
  </body>
</html> 
