<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>

  <body>
    <div id=signin>
      Login: <input type=text id=username>
      Password: <input type=password id=password>
      <input id=submit type=button value=login>
    </div>
    <div id=tweets style="display:none">
      Tweets:
      <div id=newTweets></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      console.log("Point 1");
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
      console.log("Point 2");
    </script>

    <script type=text/javascript>
      function login()
      {
        "use strict";
        var xhr = new XMLHttpRequest();
        var username = $("#username").val();
        var password = $("#password").val();
        xhr.open("post", "/login.html?username=" + username + "&password=" + password, false);
        xhr.send(null);

        if(xhr.responseText.trim() === "Success")
        {
          $("#tweets").show();
          var socket = io.connect('http://localhost', {port: 8888});

          socket.on('tweet', function(data) {
            $("#newTweets").prepend('<br>');
            $("#newTweets").prepend(data);
          });
        }
      }

      $("#submit").click(login);
    </script>
  </body>
</html> 
